<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bautista.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/turismo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/turismo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:label="turismo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".registrar_persona"
            android:label="@string/title_activity_registrar_persona"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nombre_item"
            android:label="@string/title_activity_nombre_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista_categorias"
            android:label="@string/title_activity_lista_categorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".items_que_hacer"
            android:label="@string/title_activity_items_que_hacer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".items_que_visitar"
            android:label="@string/title_activity_items_que_visitar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".items_donde_dormir"
            android:label="@string/title_activity_items_donde_dormir"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".items_donde_comer"
            android:label="@string/title_activity_items_donde_comer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".items_llamadas"
            android:label="@string/title_activity_items_llamadas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".items_servicios_turisticos"
            android:label="@string/title_activity_items_servicios_turisticos"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>